body {
    min-height: 230vh;
}

.exam-container {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    padding-top: 15px;
}
.hsk-questions-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    width: 60vw;
}
.article-container {
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
    padding-bottom: 20vh;
}
.question-img {
    display: block;
    transform: translateY(25%) scale(1.5);
    height: auto;
}
#timer {
    display: block;
    font-size: 20px;
    text-align: end;
}
#word-counter {
    font-size: 20px;
}
.writing-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    width: 100%;
}
#writing-area {
    display: block;
    min-height: 720px;
    width: 100%;
    font-family: "SimSun", "NSimSun", monospace;
    font-size: 27px !important; /* 12px is the magic number for SimSun bitmaps */
    font-weight: 700;
}